body {
  margin: 0;
  padding: 0;
  background: #f5f6f7;
  color: #1b1b32;
  font-family: Roboto;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 100%; 
}


figure {
  display: flex; 
  flex-direction: column; 
  align-items: center;
  text-align: left;
}


h1 { 
  padding: 1em 0 0 0;
  max-width: 100%; 
  text-align: center;
  font-size: 3em;
}

footer > h1 {
  font-size: 1.7em;
  margin-bottom: 1.4em;
}

figure > img {
  margin: 0 auto;
  display: block;
  height: auto;
  max-width: 100%;
  width: 70em;
}

figcaption {
  background-color: rgb(237 232 222);
  padding: 1em 1em 1em 1em;
  font-size: 1.1em;
  max-width: 796px;
  text-align: left; 
}

i {
  font-family: italic;
}

span {
  font-size: 1.1em;
}

p {
  display: block;
  width: 100%;
  max-width: 100%; 
  text-align: center;
  font-size: 1.3em;
}

ul > p{
  padding: auto;
  text-align: left;
}

li {
  font-size: 1.5em;
  width: 80%;
}

fieldset { 
  display: block;
  height: auto;
  width: 100%;
  border: none;
}

address {
  text-align: center;
  margin: 0.4em auto;
  max-width: 900px;
  height: auto;
  border: none;
  font-size: 1.4em;
}

li, legend {
  text-align: left;
  display: block;
  width: 100%;
  margin-top: 20px;
  padding-top: 5px;
}

legend {
  text-align: center;
  font-size: 1.8em;
}

ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}

@media (max-width: 460px) {
  #img-caption {
    font-size: 1.4rem;
  }
}

@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}
